<h1>Hi! Please confirm your email!</h1>

<p>
    {{ 'twigTemp.pleaseConfirm'| trans}}: <br><br>
    <a href="{{ signedUrl }}">{{ 'twigTemp.pleaseConfirm2'| trans}}</a>.
    {{ 'twigTemp.pleaseConfirm3'| trans}} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
