<p>{{ 'twigTemp.contactEmail'| trans}}: {{ name }} {{ 'twigTemp.contactEmail2'| trans}} : {{ fromEmail }}!</p>
<h1>
    {{ 'twigTemp.contactEmail3'| trans}} :"{{ message }}"
</h1>
<p>{{ 'twigTemp.contactEmail4'| trans}}</p>

{{ 'twigTemp.contactGreeting'| trans | raw }}<br>
<br>
<a href="mailto:nebwebsites@nebja.eu">nebwebsites@nebja.eu</a>
