<h1>Hi!</h1>

<p>{{ 'twigTemp.resetPassEmail' | trans | raw}}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{{ 'twigTemp.resetPassEmail1' | trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

{{ 'twigTemp.emailFooter' | trans | raw}}
