{% extends 'resetBase.html.twig' %}

{% block title %}{{ 'twigTemp.resetPassForm' | trans }}{% endblock %}

{% block body %}

    {{ form_start(resetForm, {'attr':{ 'class': 'form-control'}}) }}
         <p>{{ 'twigTemp.resetPassForm2' | trans }}</p>
        {{ form_errors(resetForm.plainPassword.first)}}
        {{ form_widget(resetForm.plainPassword.first) }}<br>
        {{ form_errors(resetForm.plainPassword.second)}}
        {{ form_widget(resetForm.plainPassword.second) }}<br>
        <button class="btn btn-primary">{{ 'navbar.reset' | trans }}</button>
    {{ form_end(resetForm) }}
{% endblock %}
