{% extends 'base.html.twig' %}

{% block title %}Homepage!{% endblock %}

{% block body %}
    {% if page is same as('app')%}
<!--       {{ dump(toView) }}-->
        <div class="container-fluid" id="app" token="{{ csrf_token('authenticate') }}" data-view="{{ toView }}"></div>
    {% else %}
<!--       {{ dump(video) }}-->
        <div id="video" data-video="{{ video }}"></div>
    {% endif %}
{% endblock %}
