{% extends 'base.html.twig' %}

{% block title %}Homepage!{% endblock %}

{% block body %}
    {{ dump(toView) }}
    {% if last_username is defined %}
        {{ dump(last_username) }}
    {% endif %}
    <div id="app" token="{{ csrf_token('authenticate') }}"
            data-view="{{ toView }}"
            {% if user.email is defined %}
                user="{{ user.email }}"
            {% endif %}
            {% if error.messageKey is defined %}
                error="{{ error.messageKey|trans(error.messageData, 'security') }}"
            {% endif %}
    ></div>
{% endblock %}
